
.container{
    display: flex;
    justify-content: center;
    align-items: end;
   
}
.box{
  width: 350px;
  height: auto;
  border-radius: 50%;
  padding-bottom: 10px;
  margin-left: 42%;
  margin-top: 10%;
  min-width: 350px;
 
}
p{
  color: rgb(14, 2, 20);
  text-align: center;
  font-size: 3em;
  font-style: normal;
  margin-bottom: -10px;
}

 body{
   background: #2b2929;
   width: 100vw;
   height: 100vh;
   
 }
.colum{
  margin: 20px;
  
}
.colum1 input { 
  color:#2a2a2a;
  background-color: #474242 ;
  font-size: 1.2rem;
   width: 60px;
   height: 60px;
   margin-bottom: 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 1rem;
}
.colum1 input:hover{
  color: rgb(22, 22, 21);
  background-color:#bfb5b5;
}
.input-box{
  margin-bottom: 15px;
  width: 290px;
  height: 40px;
  background-color: #5c5959;
  color: #272627 ;
  text-align: right;
  font-size: 1.5rem;
}
.owned p{
  color: #121e8d;
  padding-left: 5%;
  font-size: 2rem;
  padding-bottom: 20px;
}
social-media{
  display:grid;
  grid-column: auto;
  list-style: none;
}

ul li {
  list-style: none;
  margin: 0 1rem;
}

ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #1f1f38;
  transition: all .5s;
}

ul li a:hover {
  color: #fff;
}
.social-media li i {
  display: inline-block;
  background-color: #121e8d;
  padding: 0.6rem;
  border: 1px solid #1f1f38;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.social-media li i:hover {
  width: 20px;
  height: 20px;
background-color: transparent;
transition: .3s;
  border: 1px solid #181816;
  border-radius: .5rem;
  background: transparent;
  color: #171716;
}
.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}




